* {
    border: none;
    border-radius: 0px;
    font-family: "Fira Code Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: #17002b;
    background-image: linear-gradient(-90deg, #FA8BFF 12%, #2BD2FF 90%);
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 8px;
}

window#waybar.hidden {
    opacity: 0.2;
}


#workspaces button {
    color: #ffffff;
    font-size: 26px;
}


#workspaces button.active {
    color: #FA8BFF;
    font-size: 26px;
}


#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: black;
}

#window,
#workspaces {
    margin: 0px 4px;
    color: white;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#clock {

    color: white;
    border-radius: 0px 20px 20px 0px;
    margin-right: 4px;

}

#battery {
    background-color: transparent;
    color: white;
}

#battery.charging, #battery.plugged {
    background-color: transparent;
    color: #ffffff;

}

@keyframes blink {
    to {

        color: #000000;
    }
}

#battery.critical:not(.charging) {

    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #FA8BFF;

    color: black;
}

#memory {

    color: white;
}

#disk {
    background-color: #FA8BFF;

    color: black;
}

#backlight {  
    color: white;
}

#network {


    color: white;
}

#network.disconnected {


    color: black;
}

#pulseaudio {


    color: white;
}

#pulseaudio.muted {


    color: black;
}

#custom-media {
    background-color: #8EC5FC;

    color: black;
    border-radius: 20px;
    margin-right: 5px;
}

#custom-media.custom-spotify {
    background-color: #8EC5FC;

    color: black;
    border-radius: 20px;
    margin-right: 5px;

}

#custom-media.custom-vlc {
    background-color: #8EC5FC;

    color: black;
    border-radius: 20px;
    margin-right: 5px;
}

#custom-power{
    background-color: #FA8BFF;

    font-size: 16px;
    border-radius: 19px;

}
#custom-launcher{
    color: #ffffff;
    font-size: 26px;
}

#custom-updater {
    color: white;
}


#temperature {
    background-color: #FA8BFF;

    color: black;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    color: white;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: #FA8BFF;
    background-image: linear-gradient(-45deg, #FA8BFF 0%, #2BD2FF 52%, #2BD2FF 90%);
    color: black;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #FA8BFF;
    background-image: linear-gradient(-45deg, #FA8BFF 0%, #2BD2FF 52%, #2BD2FF 90%);
    color: black;
}

#idle_inhibitor {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BD2FF 90%);
    border-radius: 20px 0px 0px 20px;

}

#idle_inhibitor.activated {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BD2FF 90%);
    color: black;
    border-radius: 20px 0px 0px 20px;

}

#language {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #2BD2FF 0%, #2BD2FF 52%, #2BD2FF 90%);
    color: black;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0px 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}