* {
    font-family: "FiraCode Nerd Font", monospace;
}

window {
    margin: 0px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: linear-gradient(
        45deg,
        rgba(56, 166, 199, 0.75),
        rgba(224, 105, 209, 0.75)
    );
    border-radius: 14px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#input {
    margin: 5px;
    border: none;
    color: aliceblue;
    background-color: rgba(40, 40, 40, 0.2);
}

#input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: aliceblue;
}

#entry {
    padding-right: 10px;
    padding-bottom: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#entry:selected {
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 8px;
}
