window {
    background: linear-gradient(
        45deg,
        rgba(56, 166, 199, 0.75),
        rgba(224, 105, 209, 0.75)
    );
    border-radius: 14px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#input {
    border: none;
    background-color: rgba(40, 40, 40, 0.2);
    color: aliceblue;
}

#input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#entry:selected {
    background-color: rgba(100, 100, 255, 0.3);
    border-radius: 8px;
}
